# eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/

# other
run/
temp/
run-data/
logs/
.DS_Store
Thumbs.db


# Minecraft
*.pid
*.zip
*.json
*.dat
*.dat_old
*.txt
*.srg
*.tsrg
*.bat
*.exe
*.dll
*.so
*.dylib
natives/
natives/**

# Libs (если не нужны в репозитории)


# VS Code
.vscode/

# User-specific
*.iml
.idea/
.kilocode/
opik-mcp/

# Ignore old backup folders
OLD/

# Example project
ExampleProject/

# Uncomment if you want to ignore generated sources
# src/generated/

# Files from Forge MDK
forge*changelog.txt

.fake