name: Data Generation
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'src/generated/**' # Чтобы не зациклить экшен

jobs:
  run-datagen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Data Generator
        run: ./gradlew runData 

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto-generate resources [skip ci]"
          file_pattern: 'src/generated/*' # Путь к папке с переводами